In [37]:
import os
import pandas as pd
df1 = pd.read_excel('研究数据0423.xlsx',index_col=None)
df2 = pd.read_excel('上市公司基本信息年度表2000-2017.xlsx',index_col=None)

In [38]:
df1.head()

,Unnamed: 0,Symbol,EndDate,Stknme,Listexg,Nindcd,Area,Listdt,Ucpd,Ucsvr,...,生产,研发,研究,科研,稳定,精炼,精益,设计,选择,风险
0,0,没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,证券代码',统计截止日期',证券简称',上市交易所',行业代码',地区',上市日期',实际控制人是否担任董事长或总经理',实际控制人拥有上市公司控制权比例(%)',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,000001,2017-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,7.0,0.0,5.0,0.0,1.0,6.0,2.0,247.0
3,3,000001,2016-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,2.0,8.0,0.0,6.0,0.0,0.0,3.0,3.0,223.0
4,4,000001,2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,2.0,14.0,0.0,5.0,0.0,0.0,6.0,2.0,250.0

In [46]:
df1_=df1.drop(columns=['Unnamed: 0']) #删除第一列
df1_=df1_.drop([0]) #删除第一行
df1_.head()

,Symbol,EndDate,Stknme,Listexg,Nindcd,Area,Listdt,Ucpd,Ucsvr,Nshld,...,生产,研发,研究,科研,稳定,精炼,精益,设计,选择,风险
1,证券代码',统计截止日期',证券简称',上市交易所',行业代码',地区',上市日期',实际控制人是否担任董事长或总经理',实际控制人拥有上市公司控制权比例(%)',股东总数',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000001,2017-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,7.0,0.0,5.0,0.0,1.0,6.0,2.0,247.0
3,000001,2016-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,2.0,8.0,0.0,6.0,0.0,0.0,3.0,3.0,223.0
4,000001,2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,2.0,14.0,0.0,5.0,0.0,0.0,6.0,2.0,250.0
5,000001,2014-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,1.0,14.0,0.0,11.0,0.0,0.0,5.0,3.0,299.0

In [34]:
df2.head(3)

,ListedCoID,SecurityID,Symbol,ShortName,EndDate,IndustryName,IndustryCode,RegisterAddress,OfficeAddress,Zipcode,...,Lng,Lat,ISIN,FullName,LegalRepresentative,EstablishDate,Crcd,RegisterCapital,Website,BusinessScope
0,上市公司ID',证券ID',股票代码',股票简称',年度区间',行业名称',行业代码',注册具体地址',公司办公地址',办公地址邮政编码',...,经度',纬度',ISIN编码',中文全称',法人代表',公司成立日期',ABH股交叉码',注册资本',公司网址',经营范围'
1,没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',...,没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位',没有单位'
2,101704,201000000001,000001,平安银行,2017-12-31,货币金融服务,J66,广东省深圳市罗湖区深南东路5047号,广东省深圳市深南东路5047号,518001,...,22.5407,114.108,CNE000000040,平安银行股份有限公司,谢永林,1987-12-22 00:00:00.,NaN,740180802,www.bank.pingan.com,叉车、装载机、工程机械、矿山起重运输机械及配件、铸锻件、热处理件制造及产品销售。金属材料、化...

In [55]:
df2_=df2.drop([1])
df2_.loc[0,'EndDate']="统计截止日期'"
df2_.loc[0,'Symbol']="证券代码'"

df2_.head(3)

,ListedCoID,SecurityID,Symbol,ShortName,EndDate,IndustryName,IndustryCode,RegisterAddress,OfficeAddress,Zipcode,...,Lng,Lat,ISIN,FullName,LegalRepresentative,EstablishDate,Crcd,RegisterCapital,Website,BusinessScope
0,上市公司ID',证券ID',证券代码',股票简称',统计截止日期',行业名称',行业代码',注册具体地址',公司办公地址',办公地址邮政编码',...,经度',纬度',ISIN编码',中文全称',法人代表',公司成立日期',ABH股交叉码',注册资本',公司网址',经营范围'
2,101704,201000000001,000001,平安银行,2017-12-31,货币金融服务,J66,广东省深圳市罗湖区深南东路5047号,广东省深圳市深南东路5047号,518001,...,22.5407,114.108,CNE000000040,平安银行股份有限公司,谢永林,1987-12-22 00:00:00.,NaN,740180802,www.bank.pingan.com,叉车、装载机、工程机械、矿山起重运输机械及配件、铸锻件、热处理件制造及产品销售。金属材料、化...
3,101704,201000003384,000001,平安银行,2016-12-31,货币金融服务,J66,广东省深圳市罗湖区深南东路5047号,广东省深圳市深南东路5047号,518001,...,22.5407,114.108,CNE000000040,平安银行股份有限公司,谢永林,1987-12-22 00:00:00.,NaN,17170000000,www.bank.pingan.com,经批准的商业银行业务。

In [56]:
df2_=df2_[['Symbol','EndDate','ShortName','IndustryName','IndustryCode','RegisterAddress','Zipcode','EstablishDate']]
df2_.loc[:,"EstablishDate"] =[ i[:4] if type(i) is str and len(i)>9 else i for i in df2_["EstablishDate"]]
df2_.head()

,Symbol,EndDate,ShortName,IndustryName,IndustryCode,RegisterAddress,Zipcode,EstablishDate
0,证券代码',统计截止日期',股票简称',行业名称',行业代码',注册具体地址',办公地址邮政编码',公司成立日期'
2,000001,2017-12-31,平安银行,货币金融服务,J66,广东省深圳市罗湖区深南东路5047号,518001,1987
3,000001,2016-12-31,平安银行,货币金融服务,J66,广东省深圳市罗湖区深南东路5047号,518001,1987
4,000001,2000-12-31,深发展A,货币金融服务,J66,中国广东省深圳市罗湖区深南东路178号深圳发展银行大厦,518001,1987
5,000001,2010-12-31,深发展A,货币金融服务,J66,中国广东省深圳市,518001,1987

In [57]:
list1 = df1_.columns.tolist()
list2=['Stknme','Nindcd','Area','Listdt']
clist = [i for i in list1 if i not in list2] 
clist
df1_ = df1_[clist]
df1_.head()

,Symbol,EndDate,Listexg,Ucpd,Ucsvr,Nshld,Empnum,RDPersonRatio,RDSpendSumRatio,Nshrttl,...,生产,研发,研究,科研,稳定,精炼,精益,设计,选择,风险
1,证券代码',统计截止日期',上市交易所',实际控制人是否担任董事长或总经理',实际控制人拥有上市公司控制权比例(%)',股东总数',员工人数',研发人员数量占比(%)',研发投入占营业收入比例(%)',股本总数',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000001,2017-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17170411366,...,3.0,0.0,7.0,0.0,5.0,0.0,1.0,6.0,2.0,247.0
3,000001,2016-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17170411366,...,7.0,2.0,8.0,0.0,6.0,0.0,0.0,3.0,3.0,223.0
4,000001,2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14308676139,...,6.0,2.0,14.0,0.0,5.0,0.0,0.0,6.0,2.0,250.0
5,000001,2014-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11424894787,...,4.0,1.0,14.0,0.0,11.0,0.0,0.0,5.0,3.0,299.0

In [58]:
df1_ret =df1_.merge(df2_,how='left',on=['Symbol','EndDate'])
df1_ret.head()

,Symbol,EndDate,Listexg,Ucpd,Ucsvr,Nshld,Empnum,RDPersonRatio,RDSpendSumRatio,Nshrttl,...,精益,设计,选择,风险,ShortName,IndustryName,IndustryCode,RegisterAddress,Zipcode,EstablishDate
0,证券代码',统计截止日期',上市交易所',实际控制人是否担任董事长或总经理',实际控制人拥有上市公司控制权比例(%)',股东总数',员工人数',研发人员数量占比(%)',研发投入占营业收入比例(%)',股本总数',...,NaN,NaN,NaN,NaN,股票简称',行业名称',行业代码',注册具体地址',办公地址邮政编码',公司成立日期'
1,000001,2017-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17170411366,...,1.0,6.0,2.0,247.0,平安银行,货币金融服务,J66,广东省深圳市罗湖区深南东路5047号,518001,1987
2,000001,2016-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17170411366,...,0.0,3.0,3.0,223.0,平安银行,货币金融服务,J66,广东省深圳市罗湖区深南东路5047号,518001,1987
3,000001,2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14308676139,...,0.0,6.0,2.0,250.0,平安银行,货币金融服务,J66,广东省深圳市罗湖区深南东路5047号,518001,1987
4,000001,2014-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11424894787,...,0.0,5.0,3.0,299.0,平安银行,货币金融服务,J66,广东省深圳市罗湖区深南东路5047号,518001,1987

In [65]:
print(df2_.columns.tolist())
last_columns = clist[:2]+df2_.columns.tolist()[2:]+clist[2:]
print(last_columns)
df1_ret = df1_ret[last_columns]
df1_ret.head()

['Symbol', 'EndDate', 'ShortName', 'IndustryName', 'IndustryCode', 'RegisterAddress', 'Zipcode', 'EstablishDate']
['Symbol', 'EndDate', 'ShortName', 'IndustryName', 'IndustryCode', 'RegisterAddress', 'Zipcode', 'EstablishDate', 'Listexg', 'Ucpd', 'Ucsvr', 'Nshld', 'Empnum', 'RDPersonRatio', 'RDSpendSumRatio', 'Nshrttl', 'Nshrstt', 'Rat_SO', 'Nshrsms', 'TotalAssets', 'TotalLiability', 'IntangibleAsset', 'NetProfit', 'OperationProfit', 'F050201B', 'F050202B', 'F050203B', 'F050204C', 'F100501A', 'F100801A', 'F100802A', 'F100901A', 'F100902A', 'F100903A', 'F100904A', '备注', '冒险', '创新', '利用', '发现', '变化', '变异', '实施', '实验', '应用', '开发', '成本', '执行', '投产', '探究', '探索', '提炼', '搜寻', '搜索', '改良', '改进', '效率', '灵活', '生产', '研发', '研究', '科研', '稳定', '精炼', '精益', '设计', '选择', '风险']

,Symbol,EndDate,ShortName,IndustryName,IndustryCode,RegisterAddress,Zipcode,EstablishDate,Listexg,Ucpd,...,生产,研发,研究,科研,稳定,精炼,精益,设计,选择,风险
0,证券代码',统计截止日期',股票简称',行业名称',行业代码',注册具体地址',办公地址邮政编码',公司成立日期',上市交易所',实际控制人是否担任董事长或总经理',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000001,2017-12-31,平安银行,货币金融服务,J66,广东省深圳市罗湖区深南东路5047号,518001,1987,NaN,NaN,...,3.0,0.0,7.0,0.0,5.0,0.0,1.0,6.0,2.0,247.0
2,000001,2016-12-31,平安银行,货币金融服务,J66,广东省深圳市罗湖区深南东路5047号,518001,1987,NaN,NaN,...,7.0,2.0,8.0,0.0,6.0,0.0,0.0,3.0,3.0,223.0
3,000001,2015-12-31,平安银行,货币金融服务,J66,广东省深圳市罗湖区深南东路5047号,518001,1987,NaN,NaN,...,6.0,2.0,14.0,0.0,5.0,0.0,0.0,6.0,2.0,250.0
4,000001,2014-12-31,平安银行,货币金融服务,J66,广东省深圳市罗湖区深南东路5047号,518001,1987,NaN,NaN,...,4.0,1.0,14.0,0.0,11.0,0.0,0.0,5.0,3.0,299.0

In [67]:
# df1_ret.to_excel('研究数据0527.xlsx')
# https://stackoverflow.com/questions/28837057/pandas-writing-an-excel-file-containing-unicode-illegalcharactererror
df1_ret.to_excel('研究数据0527.xlsx',engine='xlsxwriter')